#map_box{
	position: relative;
	height: 500px;
}
#pins {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 20%;
	height: 100%;
	background: #7e9198;
	color: white;
}
#pins .map_grpfixe {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
}
#pins .map_group {
	position: relative;
	cursor: pointer;
	padding: 10px;
	border-top: 1px solid rgba(0,0,0,0.3);
}
#pins .map_group-header{
	font-size: 15px;
	font-weight: bold;
}
#pins .map_icon{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	text-align: center;
}
#pins .map_group .map_icon{
	padding: 0 10px;
}
#pins .map_group .map_text{
	background: url('../images/map_ico_arrow_right.png') no-repeat;
	background-position: right;
	padding-right: 20px;
}
#pins .map_grpfixe .map_icon{
	padding-right: 10px;
	vertical-align: top;
}
#pins .map_grpfixe .map_text{
	vertical-align: top;
	line-height: 1.2;
}
#pins .map_grpfixe .map_text p{
	margin-bottom: 5px;
}
#pins .map_grpfixe .map_text .subtext{
	color: #333;
	font-size: 12px;
	text-transform: none;
}
#pins .map_icon img{
	margin: auto;
}
#pins .map_text{
	display: inline-block;
	vertical-align: middle;
	width: 75%;
	text-align: left;
}
#pins .map_group-box{
	position: absolute;
	display: none;
	top: 0;
	left: 100%;
	background: rgba(169,195,204,0.9);
	padding: 10px;
	text-align: left;
	min-width: 220px;
	font-size: 13px;
	z-index: 2;
}
#pins .map_pin {
	margin: 5px 10px;
	vertical-align: middle;
	cursor: pointer;
	position : relative;
	padding-left: 20px;
}
#pins .map_pin:before{
	content : '';
	display : block;
	position : absolute;
	width : 15px;
	height : 15px;
	border : 1px solid #ffffff;
	background: #ffffff;
	top : 4px;
	left: 0px;
}
#pins .map_pin:after{
	content: '';
	display : block;
	position : absolute;
	z-index:3;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	top : 1px;
	left: 1px;
}
#pins .map_pin.active:after{
	content: "\2713";
}
#pins .map_pin.disabled {
	color: #94AAB3;
}
#pins .map_pin.disabled:before{
	border : 1px solid #94AAB3;
	background: #94AAB3;
}
#pins .map_pin .map_img, .map_pin .map_lib {
	display: inline-block;
	margin: 2px;
	vertical-align: middle;
}
#pins .map_pin .map_img {
	max-height: 15px;
	width: 15px;
	text-align: center;
}
#pins .map_pin .map_img img{
	max-height: 15px;
}
#pins .map_pois{
	background: #94aab3;
	position: absolute;
	width: 100%;
	bottom: 0;
}
#map {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	height: 100%;
}
#map_btn_center{
	position: absolute;
	right: 8px;
	bottom: 122px;
}
#map_espacevente_ico, #map_programme_ico{
	cursor: pointer;
}

/* SMARTPHONES XS */
@media (max-width: 767px) {
	
	#map_box{
		height: 460px;
	}
	#pins {
		width: 18%;
	}
	#map {
		width: 82%;
	}
	#pins .map_grpfixe{
		padding: 10px;
	}
	#pins .map_icon{
		width: 100%;
		padding: 0!important;
	}
	#pins .map_text{
		display:none;
	}

}

/* TABLETS SM */
@media (min-width: 768px) and (max-width: 991px) {

	#pins {
		width: 25%;
	}
	#map {
		width: 75%;
	}

}